<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

    <main>
        <h1>Lista de productos</h1>
        <hr>
        <div id="contenedor-productos">
            <% productos.forEach(prod => { %>
                <div class="card-producto">
                    <img src="<%= prod.imagen %>" alt="<%= prod.titulo %>">
                    <h3><%= prod.titulo %></h3>
                    <p><%= prod.tipo %></p>
                    <p>$<%= prod.precio %></p>
                </div>
            <% }) %>
        </div>
    </main>

<%- include("partials/footer.ejs") %>